generative_engine:
  GENERATIVE_ENGINE_API_KEY: 'your-api-key'
  GENERATIVE_ENGINE_API_BASE: 'https://api.generative.engine.capgemini.com'
  GENERATIVE_ENGINE_API_ENDPOINT: '/v2/llm/invoke'

anthropic.claude-v2:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'bedrock'

openai.gpt-3.5-turbo:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'azure'

openai.gpt-4o:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'azure'

openai.o1-mini:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'azure'

openai.o1-preview:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'azure'

us.meta.llama3-2-3b-instruct-v1:0:
  GENERATIVE_ENGINE_MODEL_INTERFACE: 'langchain'
  GENERATIVE_ENGINE_MODEL_MODE: 'chain'
  GENERATIVE_ENGINE_MODEL_PROVIDER: 'bedrock'